[Unit]
Description=GMessage messaging server
After=network.target

[Service]
PrivateTmp=true
Type=simple
ExecStart=/usr/sbin/gmessaged -c /etc/gnatsd.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s SIGINT $MAINPID
User=ggiod
Group=ggiod

[Install]
WantedBy=multi-user.target

